body{
        margin: 0px;
        padding: 0px;
    }
    canvas{
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }
    #Variables{
        left: 0px;
        top: 0px;
        position: absolute;
        z-index: 1;
    }
    #Variables td,th{
        border: 1px solid black;
    }
    input[type="text"]{
        
        min-width: 25px;
        max-width: 50px;
        font-weight: bold;
    }
    input:hover{
        background-color: rgba(0,0,0,0.1);
    }
    #Checkboxes{
        top: 100px;
        position: absolute;
        vertical-align: bottom;
        margin: 5px;
        z-index: 0;
    }
    #Checkboxes td {
        padding: 5px;
        border: 1px solid black;
    }
    .containter{
        width: 100%;
        height: 100%;
    }
    #Buttons{
        position: fixed;
        bottom: 0;
        margin: 10px;
    }
    #Buttons td{
        text-align: center;
    }
    #EndPointTbl{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 5px;
    }
    .visible{
        visibility: visible;
    }
    .invisible{
        visibility: hidden;
    }